.Section_links {
    text-decoration: none;
    padding: 0.08em 0.24em;
    color: #D6377E;
    background: #33242B;
    border: 1px solid #D6377E;
}

a.Section_links:hover{
    background: #E0E0E0;
    color: #33242B;
}

.Landing_headers {
    width: 85%;
    margin: auto;
    padding: 1em 0;
}

.Landing_minorHeaders {
    font-style: italic;
    font-size: smaller;
    padding-bottom: 1em;
}

.Landing_contactHeader {
    width: 45%;
    margin: auto;
    margin-bottom: 1em;
}

.Landing_content {
    width: 87%;
    margin: auto;
    margin-bottom: 1em;
}

#Landing_firstSection {
    margin-top: 0;
}

.Landing_underline {
    margin-left: auto;
    margin-right: auto;
}

.Landing_underline:after {
    border-bottom: 1px solid #999999;
    content: '';
    display: block;
    width: 80%;
    margin-top: .75em;
}

.Landing_underlineCenter:after {
    margin-left: auto;
    margin-right: auto;
}

.link_Container {
    margin-bottom: 2em;
}

.Landing_spaceFix {
    margin-bottom: 2em;
}