.Section_links {
    text-decoration: none;
    padding: 0.08em 0.24em;
    color: #fafafa;
    background: #875a59;
    border: 1px solid #b9cecc;
}

a.Section_links:hover{
	background: #9E607C;
}

.Landing_headers {
    width: 85%;
    margin: auto;
}

.Landing_content {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
}