.Section_links {
    text-decoration: none;
    padding: 0.08em 0.24em;
    color: #4A415C;
    background: #E1E1E1;
    border: 1px solid #4A415C;
}

a.Section_links:hover{
    background: #4A415C;
    color: #E1E1E1;
}

.Landing_headers {
    width: 85%;
    margin: auto;
}

.Landing_content {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
}

#Landing_firstSection {
    margin-top: 0;
}