.App_header {
    padding: 1% 0;
    background-color: #93CFC2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

section {
    min-height: 6em;
    padding: 6% 0;
}

section:nth-child(even) {
    background-color: #C1DED9;
}