.App_header {
    padding: 1% 0;
    background-color: #345268;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: solid 1px #F2F2F2;
}

section {
    min-height: 6em;
    padding: 6% 0;
}

section:nth-child(even) {
    background-color: #7C8E9B;
}