.App_header {
    padding: 1% 0;
    background-color: #39265C;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: solid 1px #E1E1E1;
}

section {
    min-height: 6em;
    padding: 6% 0;
}

section:first-of-type {
    margin-top: 3em;
}

section:nth-child(even) {
    background-color: #895BDC;
}

section:nth-child(odd) {
    background-color: #6845A8;
}