.Entry_images {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px;
    width: 14em;
    margin-top: 1em;
}

.Entry_title {
    margin-bottom: 0;
}

.Entry_date {
    font-size: 12px;
}

.Entry_content {
    width: 85%;
    margin: auto;
}