.Entry_images {
    border-radius: 4px;
    padding: 2px;
    width: 87%;
    margin-top: 1em;
}

.Entry_title {
    display: inline;
    margin: auto;
    padding: 1em 0 0 2em;
}

.Entry_titleContainer {
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.Entry_icons {
    margin: 1em 0.85em 0 0;
}

.Entry_button {
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}

.Entry_dateContainer {
    text-align: center;
}

.Entry_date {
    font-size: 12px;
}

.Entry_content {
    width: 87%;
    margin: auto;
    text-align: center;
    font-size: medium;
}

.Entry_contentCollapseContainer {
    display: none;
}