#Admin_post {
	margin: 0.5em;
}

#Admin_addPostSection {	
	background-color: #33242B;
	color: #E0E0E0;
	padding: 0%;
}

.Admin_addPost {
    margin-top: 5.3em;
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}