#Admin_post {
	margin: 0.5em;
}

#Admin_addPostSection {	
	margin-top: 3.23em;
	background-color: #33242B;
	color: #E0E0E0;
	padding: 0%;
}

.Admin_addPost {
	margin-top: 1em;
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}

/* Tablets --------------- */
@media screen and (min-width : 768px) {
	#Admin_addPostSection {
		margin-top: 3.75em;
	}
}

/* Desktops and laptops ----------- */
@media screen  and (min-width : 1024px) {
	#Admin_addPostSection {
		margin-top: 4em;
	}
}

/* Large screens -------------- */
@media screen and (min-width: 1440px) {
	#Admin_addPostSection {
		margin-top: 4.3em;
	}
}