.ContactPage_formSection {
  margin-top: 3.23em;
}

/* iPads (portrait and landscape) ----------- */
@media screen and (min-width : 768px) {
	.ContactPage_formSection {
		margin-top: 3.75em;
	}
}

/* Desktops and laptops ----------- */
@media screen  and (min-width : 1024px) {
	.ContactPage_formSection {
		margin-top: 4em;
	}
}

/* Large Screens ------------------- */
@media screen and (min-width: 1440px) {
	.ContactPage_formSection {
		margin-top: 4.25em;
		min-height: 28em;
	}
}