@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-color: #39265C;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  color: #E1E1E1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
}

