.App_header {
    padding: 1% 0;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: solid 1px #E0E0E0;
}

section {
    min-height: 4em;
    padding: 0;
}

section:first-of-type {
    margin-top: 3.23em;
    border-top: none;
}

section:last-of-type {
    padding: 0 0 6% 0;
}

section:nth-child(even) {
    background-color: #E0E0E0;
}

section:nth-child(odd) {
    background-color: #E0E0E0;
}

/* iPads (portrait and landscape) ----------- */
@media screen and (min-width : 768px) and (max-width : 1024px) {
   section:first-of-type {
       margin-top: 3.75em;
   }
}

/* Desktops and laptops ----------- */
@media screen  and (min-width : 1224px) {
   section:first-of-type {
       margin-top: 4.39em;
   }
}

/* Large screens ----------- */
@media screen  and (min-width : 1824px) {
/* Styles */
}