.App_header {
    padding: 1% 0;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border-bottom: solid 1px #E0E0E0;
}

section {
    min-height: 4em;
    padding: 0;
    background-color: #E0E0E0;
}

section:last-of-type {
    padding: 0 0 6% 0;
}