Nav {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
}

.Nav_logo {
    text-align: left;
    padding-left: 0.8em;
    display: inline;
    color: #E0E0E0;
    margin: 0.5em 0;
}

.Nav_linksContainer {
    display: inline;
    align-self: center;
}

.Nav_links {
    text-decoration: none;
    margin-right: 0.8em;
    color: #E0E0E0;
}

.Nav_linksButton {
    background: none;
	color: #E0E0E0;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    margin-right: 0.8em;
}

.fullView {
    display: none;
}

/* iPads (portrait and landscape) ----------- */
@media screen and (min-width : 768px) {
   .fullView {
       display: inherit;
   }

   .mobileView {
       display: none;
   }

   .Nav_links {
       margin-right: 1.2em;
   }

    .Nav_linkIcons {
        font-size: x-large;
    }
}
 
/* Desktops and laptops ----------- */
@media screen  and (min-width : 1024px) {
    
}