footer {
    font-size: 12px;
    background-color: #000000;
    border-top: solid 1px #E1E1E1
}

.Footer_icons {
    margin-top: 1em;
    color: #E1E1E1
}

.Footer_text {
    display: inline;
    padding-left: 0.4em;
    color: #E1E1E1;
}

.Footer_text_2 {
    color: #E1E1E1;
}