Nav {
    display: flex;
    justify-content: space-between;
    background-color: #345268;
}

#Nav_logo {
    text-align: left;
    padding-left: 0.8em;
    display: inline;
    color: #F2F2F2;
}

.Nav_linksContainer {
    display: inline;
    align-self: center;
}

.Nav_links {
    text-decoration: none;
    margin-right: 0.8em;
    color: #F2F2F2;
}

.Nav_linksButton {
    background: none;
	color: #F2F2F2;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    margin-right: 0.8em;
}