Nav {
    display: flex;
    justify-content: space-between;
    background-color: #39265C;
}

#Nav_logo {
    text-align: left;
    padding-left: 0.8em;
    display: inline;
    color: #E1E1E1;
    margin: 0.5em 0;
}

.Nav_linksContainer {
    display: inline;
    align-self: center;
}

.Nav_links {
    text-decoration: none;
    margin-right: 0.8em;
    color: #E1E1E1;
}

.Nav_linksButton {
    background: none;
	color: #E1E1E1;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    margin-right: 0.8em;
}