.Entry_images {
    border-radius: 4px;
    padding: 2px;
    width: 87%;
    margin-top: 1em;
}

.Entry_title {
    display: inline;
    margin: auto;
    padding: 1em 0 0 2em;
}

.Entry_titleContainer {
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.Entry_icons {
    margin: 1em 0.85em 0 0;
}

.Entry_button {
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}

.Entry_dateContainer {
    text-align: center;
}

.Entry_date {
    font-size: 12px;
}

.Entry_content {
    width: 87%;
    margin: auto;
    text-align: center;
    font-size: medium;
}

.Entry_contentCollapseContainer {
    display: none;
}

/* Tablets */
@media screen and (min-width : 768px) {
    .Entry_images {
        width: 75%;
        margin: 2.5em 0;
    }

    .Entry_content {
        width: 75%;
    }
}

/* Desktops and laptops ----------- */
@media screen  and (min-width : 1024px) {
    .Entry_images {
        width: 50%
    }

    .Entry_content {
        width: 50%;
    }

    .Entry_icons {
        margin: 1em 1.5em 0 0;
    }

    .Entry_title {
        padding-left: 3.25em; 
    }
}